body {
    font-size: 11pt;
    font-family: Geneva, sans-serif;
}

.container {
    display: grid;
}

.page {
    height: 8.5in;
    width: 11in;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.barcode img {
    max-width: 1.75in;
}

.item {
    display: block;
    padding: 6mm 4.6mm;
    margin-left: -1px;
    margin-bottom: -1px;
    position: relative;
}

.location {
    margin-top: .25in;
    max-width: 2.25in;
}

.call_number {
    margin-top: .25in;
}

.page {
    page-break-after: always;
}

.title {
    margin-top: .25em;
    margin-bottom: 4em;
}

.cut-line {
    position: absolute;
    top: 2in;
    width: 1px;
    left: 262px;
}

span.cut-mark {
    margin-bottom: 3in;
    display: block;
    /* Use box shadow for lines, because background colors don't print */
    box-shadow: 0 -20px 0 0 #888;
}

.item:nth-child(4n) .cut-line {
    display: none;
}