<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpineOMatic bulk</title>
    <link rel="stylesheet" href="/css/local.css">
</head>
<body>

<header>
    <nav>
        <a href="/">SpineOMatic bulk</a>
    </nav>
</header>

<main>
    <div class="row">
        {% include "form.twig" %}
        {% include "instructions.twig" %}
    </div>
</main>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>