<form method="post" enctype="multipart/form-data" action="/upload">
    <p>
        <label>Add file (single): </label><br/>
        <input type="file" name="csv_file"/>
    </p>

    <p>
        <input type="submit"/>
    </p>
</form>