<div class="instructions">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h2>Instructions</h2>
            <ol>
                <li>Create an Excel spreadsheet with one column of barcodes and no header row.</li>
                <li>Save the spreadsheet as a CSV file.</li>
                <li>Upload the sheet using the form on the left.</li>
                <li>When the labels are ready, print them in <em>landscape orientation</em> from your browser.</li>
            </ol>
        </div>
    </div>
</div>